{% if shop.metafields.ssw['community_enabled'] or shop.metafields.ssw['fave_enabled'] %}
<li id="view_profile_link"><a tabindex="-1" href="/pages/profile">{{ 'socialshopwave.view_profile' | t }}</a></li>
{% endif %}
{% if shop.metafields.ssw['fave_enabled'] %}
<li id="view_wishlist_link"><a tabindex="-1" href="/pages/wishlist">{{ 'socialshopwave.my_faves' | t }}</a></li>
{% endif %}
<li id="edit_profile_link"><a tabindex="-1" href="/pages/profile-edit">{{ 'socialshopwave.edit_profile' | t }}</a></li>
